$color: black;

.main-part {
    padding: 10px 10px 10px 10px;
}


.header{
    color: $color;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 499px){
    .header-img {
        display: none;
    }
}

.header-img img {
    height: 450px;
}

hr {
    border-width: 1px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    opacity: 1;
    }

.description {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#other-pages {
    padding-left: 10%;
    padding-right: 10%;
    p {
        text-align: justify;
    }
}


table, th, td {
    border: 1px solid $color;
}

table {
    width: 900px;
    display: flex;
}

#table-researchers {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



