$color: black;
$font-size: 14px;

%center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-part {
    padding: 10px 10px 10px 10px;
}


.header{
    color: $color;
    font-size: 45px;
    @extend %center-content;
    margin-top: 20px;
    p {
        text-align: center;
    }
}

.header-img{
    display: flex;
    flex-direction: column;
    align-items: center;
        img {
            height: 400px;
        }
}

@media (max-width: 499px){
    .header-img {
        display: none;
    }
}

hr {
    border-width: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    opacity: 1;
    }

.description {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 20px;
    @extend %center-content;
    text-align: justify;
    align-items: center;
    font-size: $font-size;
}

#other-pages {
    padding-left: 8%;
    padding-right: 8%;
    text-align: justify;
    font-size: $font-size;
}


.table-description {
    text-align: center;
}

%border {
    border: 1px solid $color;
}

table {
    width: 100%;
    display: flex;
    @extend %border;
    text-align: left;
}

th, td {
    padding: 7px;
    @extend %border;
}
th {
    background-color: #f4f5f7;
}
